[Service]
{% if etcd_endpoints %}
Environment="LOCKSMITHD_ENDPOINT={{ locksmithd_etcd_endpoints }}"
{% endif %}
{% if locksmithd_control_group %}
Environment="LOCKSMITHD_GROUP={{ locksmithd_control_group }}"
{% endif %}
{% if locksmithd_reboot_window_start and locksmithd_reboot_window_length %}
Environment="LOCKSMITHD_REBOOT_WINDOW_START={{ locksmithd_reboot_window_start }}"
Environment="LOCKSMITHD_REBOOT_WINDOW_LENGTH={{ locksmithd_reboot_window_length }}"
{% endif %}
